h1{
    /*border: 8px solid #010f18;*/
    font-size: 60px;
    color: rgb(255, 255, 255);
    background-color: hsl(194, 88%, 16%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*text-align: center;*/
}

small{
    font-size: 30px;
}

#miDIv{
    background-image: url("");
}

#miDIv{
    border: 10px solid hsl(194, 88%, 16%);
}
